fastapi
uvicorn
python-dotenv
pydantic
python-multipart

langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters

chromadb

sentence-transformers
transformers
torch

pypdf
rank-bm25

scikit-learn
numpy
pandas

python-jose
passlib[bcrypt]