fastapi 
uvicorn
python-dotenv
pyandtic
langchain-huggingface
python-multipart
langchain-groq
pypdf
rank-bm25
langchain-text-splitters
axios
react-router-dom
react-icons
tailwindcss @tailwindcss/vite
react-circular-progressbar
react-icons